body{
    background-color: tan;
}

p {color: black;
    font-size: 20px;
    background-color:oldlace;
    border: 1px solid black;
}

h1{
    color: black;
}


div{
  background: black;
  padding: 20px;
}