.journal-box{
    background-color:lightgrey;
    border-block-color:black;
    border-style: double;
    display:inline-block;
    margin: 15px;
    padding:10px;
}

h3 {
padding:0;
margin:0;
    color:lightseagreen;
}

.spacebox{
    top:0;
    height: 85px;
    width: 100%;
}

h2{
    color:cadetblue;
    text-align:center;
}