body{
    background-color:aquamarine;
}
img{
  max-width:100%;  
}

{
    box-sizing:border-box
}

body{
    background-color:lightblue;
    margin:0;
}

.square{
    background-color:blueviolet;
    width:200px;
    height:200px;
/*    animation-name:life;*/
/*    animation-duration: 10s;*/
/*    animation-delay:2s;*/
/*    animation-iteration-count:infinite;*/
/*    animation-direction: alternate;*/
/*    animation-timing-function: cubic-bezier(5,.9,.56,.04);*/
/*    animation-fill-mode: both;*/
    
    animation: life 10s 2s infinite alternate both;
}

@keyframes life{
    0% { 
    background-color:darkgrey;
    }
    
    25% { 
    background-color:orange;
    }
    
    70% { 
    background-color:slategray;
    }
    
    100%{
    background-color:olivedrab;
    }
}
    .container{
        background-color:gainsboro;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content: space-evenly;
/*        gap: 10vw;*/
    }
    
    .circle{
        background-color: khaki;
        width: 20vw;
        height:20vw;
        border-radius:100%;
        animation: pulse 2s infinite alternate ease-in-out;
    }

@keyframes pulse {
    0%{ background-color:khaki; 
    transform: scale(100%) }
    
    100%{ background-color:tomato;
    transform: scale(150%)}
}
.box{
        background-color: khaki;
        width: 20vw;
        height:20vw;
        animation: spin 5s infinite linear; 
    }

@keyframes spin{
    0%{transform: rotate(0);
    }
    
    100%{transform:rotate(360deg);
    }
}

.bar{
    background-color:khaki;
    width:20vw;
    height:4vw;
    position:fixed;
    bottom: 0;
    left:0;
    animation: move 3s infinite;
}

@keyframes move {
    0%{ 
        left: -20vw;
        transform: skew(0);}
    
    50%{
        transform: skew(30deg);
    }
    
    100% {
        left:100vw;
        transform:translateX(110vw) skew(0deg);}
}

    
    
    
    
    
    
    
    
    
    
    
    
    
  
    
    
    
    
    
}