
body{
/*    background-color:aquamarine;*/
    margin:0;
    padding:0;
/*    overflow-y: scroll; */
    overflow-x:hidden;
}

body::-webkit-scrollbar{display:none;}

img{
  max-width:100%;  
}

{
    box-sizing:border-box;
}

.top{
    top:0;
    left:0;
    padding:0;
    margin:0;
    height:7vh;
    width:100%;
/*    background-color: coral;*/
    z-index: 1;
    position:fixed;
    overflow: hidden;
}

.bar{
   padding-top:20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;  
/*    background-color: hotpink;*/
    list-style: none;
    text-align: center;
  
    font-family: Verdana, sans-serif; 
    font-size: 14px;
    line-height: 1;
     overflow:hidden;
}

#nav{
    padding-right: 20px;
    align-items: center;
    
}

#highlight{
    text-decoration-color:lightseagreen;
}

.main{
    display: flex;
    flex-direction: column;
/*    background-color:lightgray;*/
    padding-top: 50px;
    min-height:100vh;
/*    overflow: hidden;*/

}


.footer{  
background-color: #e6e7e8; 
/*    padding:0px;*/
    width:100%;   
    height:150px;
    left:0;
/*    bottom:0;*/
    margin-top: auto;
/*    position: fixed;*/
/*    overflow:hidden;*/
   
}


.alignment{
text-align: end;
bottom:0;
/*position: absolute;*/
width:98%;
overflow:hidden;
 margin:0;
 padding:0;

}

a:link {
  text-decoration: none;
/*    color:black;*/
}

a:visited {
  text-decoration: none;
  color:black;

}

a:hover {
  text-decoration: none;
 color:ghostwhite;

}

a:active {
  text-decoration: none;
  color:ghostwhite;
}

.left {
    background-color: #fab01c;
    height: 150%;
    width:100vw;
    padding-top:20px;
    animation: slide-in 1s ease-in;
    overflow:hidden;
    padding-top:50px;
    position:absolute;
    top:0;
}
    
.ltxt{
/*    left:50px;*/
    margin-top:40px;
    width:95%;
    text-align: left;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
} 
 
@keyframes slide-in{
    from { transform: translateX(-100%); opacity:0;}
        
        to { transform: translateX(0%); opacity:1;}
    }

.right {
    background-color:#e7e741;
    height: 150%;
    width:100vw;
    padding-top:50px;
    animation: slide-r 1s ease-in;
    overflow:hidden;
    position:absolute;
    top:0;
}


@keyframes slide-r{
    from { transform: translateX(100%); opacity:0; overflow: hidden;}
        
        to { transform: translateX(0%); opacity:1; overflow: hidden;}
    }


.rtxt{
    right:50px;
    margin-top:50px;
    width:95%;
/*    position: fixed;*/
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
} 

#mb{
    animation: grow 1s;
    top:50px;

}

.mtxt{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;

}

@keyframes grow{
    0%{ transform: scale(.2);}
    100%{transform: scale(1);}
}
________________________________________________________________________

p{
    word-wrap: break-word;
    font-size:16px;
}


#tbody{ 
    text-decoration-color:  color: black;
    font-size: 12px;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
}

#ttitle{
    text-transform : uppercase;
    font-size: 40px;
    font-family: "Tw Cen MT", sans-serif;
    text-align: center;
}

#theader{
    font-size: 25px;
    font-family: "Bebas Neue bold", sans-serif;
}

#tsubheader{
    font-size: 18px;
     font-family: "Bebas Neue regular", sans-serif;
}

#tdetail{
    
}

colors
background color: #12c6a8; teal
background color: #e7e741; green
background color: #fab01c; orange
background color: #f4f3b3; pale
background color: #e6e7e8; grey
background color: #ffffff; white
